[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"ruamel.yaml" = "*"
cerberus = "*"
gitpython = "*"
click = "*"
py-repo-manager = {file = ".", editable = true}

[dev-packages]
nox = "*"
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.10"
