[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"ruamel.yaml" = "*"
cerberus = "*"
gitpython = "*"
click = "*"
dpath = "*"
rich = "*"
py-repo-manager = {file = ".", editable = true}
loguru = "*"

[dev-packages]
nox = "*"
pytest = "*"
flake8 = "*"
ipython = "*"
py-repo-manager = {file = ".", editable = true}
ipdb = "*"
isort = "*"
black = "*"
flake8-pyproject = "*"

[requires]
python_version = "^3.7,<4"
